<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ulnamsong.isteam_android_subway_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="cde6660c34926874e0f7e8b2535bf086"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".Search2Activity"></activity>
        <activity android:name=".FinishSearch"></activity>
        <activity android:name=".ShortestPathActivity"></activity>
        <activity android:name=".StartSearch"></activity>
        <activity android:name=".StnInfoActivity"></activity>
        <activity android:name=".MyActivity"></activity>
        <activity android:name=".FavoriteActivity"></activity>
        <activity android:name=".TimetableActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <receiver android:name = "appNetwork">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>
